@addTagHelper *, LachesBrag

@{
    ViewData["Title"] = "Contato";
}


<head>
    
     <link href="~/css/site.css"/>
  
    <style>
        body {
            background-color: #f4f4f4;
        }

        .container {
            margin-top: 50px;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Entre em Contato</h1>
        <p>
            No <strong>Lanches Brag</strong>, nossa missão é oferecer os melhores lanches da cidade com um atendimento excepcional. Se você tiver alguma dúvida, sugestão ou apenas quiser compartilhar sua experiência conosco, ficaremos felizes em ouvir você! Nossa equipe está sempre pronta para ajudar e responder a qualquer pergunta que você possa ter.
        </p>
      
        <p>
            Para entrar em contato conosco de forma rápida e direta, basta clicar no botão abaixo. Será um prazer receber sua mensagem e atendê-lo da melhor forma possível.
        </p>

        <div class="text-center">
            <h2>
                <email endereco="felipeprofissional22@gmail.com" conteudo="Enviar E-mail" class="email-link"></email>
            </h2>
        </div>
    </div>

   
</body>
