<img src="~/imagens/6909932.jpg" alt="Imagem de Administração" width="300" asp-append-version="true" />
<div class="container mt-4">
    <div class="bg-light p-5 ">
        <h1>Administração</h1>
        <p class="lead">Acesso negado.</p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3"> Voltar para Home</a>
</div>
