@model HomeViewModel

<partial name="_Carrossel" />

<h2>Lanches Preferidos</h2>

<div class="row" >
    @foreach (var preferido in Model.LanchesPreferidos)
    {
        <partial name="_LachesResumo" for="@preferido" />
    }
</div> 