@model LancheListViewModel;

<div>
    <h2>@Model.categoriaAtual</h2>
</div>
<hr />



<div class="container">
    <div class="row">
        @foreach (var lanche in Model.lanches)
        {
            <partial name="_LachesResumo" for="@lanche"/>
        }
    </div>

</div>
